<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="utf-8">
    <title>Tests dates</title>
</head>
<body>
    <div class="datetime">{{ test_date|date(format.datetime) }}</div>
    <div class="short-date">{{ test_date|date(format.short) }}</div>
    <div class="medium-date">{{ test_date|date(format.medium) }}</div>
    <div class="long-date">{{ test_date|date(format.long) }}</div>
    <div class="full-date">{{ test_date|date(format.full) }}</div>
</body>
</html>
